$bg1: #fbfbfb;
$bg2: #f7f7f7;
$bg3: #f2f2f2;
$highlight: #eefafd;
$nav: #2d3541;
$body1: #485367;
$body2: #617085;
$sub-meta: #7b90ab;
$placeholder: #95a9c4;
$line1: #c5cbd4;
$line2: #d7dde3;
$line3: #dbe2e7;
$line4: #ebeff3;
$btn: #26bce7;
$btn-highlight: #2bd0ff;
$notify: #2adb9f;
$notify-highlight: #2ff2b0;
$super: #ff9e21;
$super-highlight: #ffb24f;
$accent1: #a79cde;
$accent1-highlight: #c3b7ff;
$accent2: #6c79db;
$accent2-hightlight: #6ee9f0;
$alert-good: #2fd37c;
$alert-bad: #ff5d5d;


