%body-text {
  color: $body1;
  font-weight: 400;
}

%paragraph-text-size {
  font-size: rem-calc(16);

  @media #{$medium-up} {
    font-size: rem-calc(18);
  }
}

%h2 {
  font-size: 28px;
  font-weight: 100;
}

%link-text {
  font-size: 14px;
  font-weight: 500;
}

%meta-text {
  // color: #A4AEBB;
  color: $line1;
  font-size: $paragraph-font-size * .8;

  @media #{$medium-up} {
    font-size: $paragraph-font-size * .9;
  }
}
